# Getting Data From PDF
All of the information from the UK government on alien encounters is stored in PDF tabulated data. Need to extract this and put it into something usable.

## Imports

In [220]:
import glob
import os
import sys
import numpy as np
from tqdm.notebook import tqdm
from tabula import read_pdf

import pandas as pd

## Getting the PDF data

In [221]:
data_dir = 'C:/Users/dorya/Documents/UFO_Project/data/pdfs'
save_dir = 'C:/Users/dorya/Documents/UFO_Project/data/csvs'

In [222]:
pdf_files = glob.glob(f'{data_dir}/*.pdf')
pdf_file = pdf_files[0]
print(pdf_file)

C:/Users/dorya/Documents/UFO_Project/data/pdfs\UFOReport1997.pdf

In [223]:
dfs = read_pdf(pdf_file, pages = 'all')

In [225]:
dfs[0].head()

,Unnamed: 0,Date,Unnamed: 1,Time,Unnamed: 2,Town / Village,Unnamed: 3,County,Unnamed: 4,Occupation of reporter,Unnamed: 5,Brief Description of sighting,Unnamed: 6
0,02-Jan-97,20:58,Immingham,Lincolnshire,(where known),"A large UFO, with all different colour of ligh...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02-Jan-97,23:35,Scunthorpe,North Lincolnshire,NaN,An object that is continually changing colour....,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03-Jan-97,07:45,Formby/Liverpool,Merseyside,NaN,"An oval, cigar shaped object. When the object ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,04-Jan-97,23:20,Beith,Ayrshire,NaN,There were circular lights that were indistinc...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,13-Jan-97,21:00,Brockton,Staffordshire,NaN,"One, North Star sized object. Red and green co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
df = (
    dfs
    [0]
    .drop(columns = ['Town / Village'])
    .rename(columns = {
        'Occupation of reporter' : 'Occupation of reporter (where known)',
        'Area' : 'County',
        'Unnamed: 0' : 'Town / Village', 
    })
    [1:]
)

In [200]:
df

,Date,Time,Town / Village,County,Occupation of reporter (where known),Brief Description of sighting
1,08-Jan-08,22:24,Chorley,Lancashire,NaN,A triangular shaped object. Was an orange
2,NaN,NaN,NaN,NaN,NaN,colour. The object was moving across the sky
3,NaN,NaN,NaN,NaN,NaN,quite fast.
4,30-Jan-08,19:15,Darley Moor,Derbyshire,NaN,Two strange beams of light. They were very
5,NaN,NaN,NaN,NaN,NaN,bright. They were hovering above some trees.
6,NaN,NaN,NaN,NaN,NaN,The lights then moved towards the borders of
7,NaN,NaN,NaN,NaN,NaN,Staffordshire.
8,08-Feb-08,21:00,Burntwood,Staffordshire,NaN,"A dull, red object was travelling at high speed"
9,NaN,NaN,NaN,NaN,NaN,and stayed on route.
10,09-Feb-08,18:00,Abertillery,Gwent,NaN,There was an object in the sky that looked like
11,NaN,NaN,NaN,NaN,NaN,a glowing red ball. A strange substance like
12,NaN,NaN,NaN,NaN,NaN,molten metal burst from it as it went
13,NaN,NaN,NaN,NaN,NaN,overhead. It moved without sound.
14,09-Feb-08,22:40,Ashton Keynes,Wiltshire,NaN,"There were ten to twenty, bright orange lights,"
15,NaN,NaN,NaN,NaN,NaN,that were manoeuvring across the sky. They
16,NaN,NaN,NaN,NaN,NaN,were moving quite slowly.
17,10-Feb-08,04:00,Windermere,Cumbria,NaN,"The object was triangular in shape, with a"
18,NaN,NaN,NaN,NaN,NaN,yellow light in each corner and a red light in
19,NaN,NaN,NaN,NaN,NaN,the centre. The yellow lights were pulsating
20,NaN,NaN,NaN,NaN,NaN,quickly.
21,11-Feb-08,19:00,Walthamstow,London,NaN,"Eight, faint orange lights were flying in the ..."
22,NaN,NaN,NaN,NaN,NaN,They suddenly disappeared when a plane was
23,NaN,NaN,NaN,NaN,NaN,in it's view.
24,11-Feb-08,20:56,Huntingdon,Cambridgeshire,NaN,"A long, thick, red streak shot across the sky."
25,NaN,NaN,NaN,NaN,NaN,There was a silver ball of light attached to the
26,NaN,NaN,NaN,NaN,NaN,front of it. It was rather large. The ball the...
27,NaN,NaN,NaN,NaN,NaN,bigger and burst.
28,12-Feb-08,Not stated,Opposite House of Parliament,London,NaN,"There was a craft that had green, red and"
29,NaN,NaN,NaN,NaN,NaN,white lights. It was still and static in the s...
30,NaN,NaN,NaN,NaN,NaN,was seen for about an hour and a half.
31,12-Feb-08,Not stated,Buxton,Derbyshire,NaN,"Something ""very strange""."

In [206]:
for i, df_tmp in enumerate(dfs):
    if i == 0:
        continue
    data = np.array(df_tmp)
    
    df_tmp = pd.DataFrame(data=data, columns = range(0,len(data[0])))
    
    df_rename = (
        df_tmp
        .rename(
            columns = {
                0 : 'Date',
                1 : 'Time',
                2: 'Town / Village',
                3 : 'County',
                4: 'Occupation of reporter (where known)',
                5 : 'Brief Description of sighting'
            }
        )
    )

    if 6 in list(df_rename.columns):
        df_rename = df_rename.drop(columns = [6])
    if 7 in list(df_rename.columns):
        df_rename = df_rename.drop(columns = [7])
    
    df = pd.concat([df, df_rename])

In [207]:
df[:-2]

,Date,Time,Town / Village,County,Occupation of reporter (where known),Brief Description of sighting,6,7
1,08-Jan-08,22:24,Chorley,Lancashire,NaN,A triangular shaped object. Was an orange,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,colour. The object was moving across the sky,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,quite fast.,NaN,NaN
4,30-Jan-08,19:15,Darley Moor,Derbyshire,NaN,Two strange beams of light. They were very,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,bright. They were hovering above some trees.,NaN,NaN
...,...,...,...,...,...,...,...,...
15,No Firm Date,Not stated,Newtownhamilton,County Down,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,No Firm Date,18:20,Redruth,Cornwall,NaN,NaN,NaN,NaN

In [192]:
df[:-2].to_csv(f'{save_dir}/{os.path.basename(pdf_file).replace(".pdf",".csv")}')

## Converting all CSV

In [21]:
for file in tqdm(pdf_files):
    if file == pdf_files[0]:
        continue
    dfs = read_pdf(file, pages = 'all')
    for j, df_tmp in enumerate(dfs):
        if j == 0:
            df = df_tmp.copy()
            continue
        df = pd.concat([df, df_tmp])

    df_rename = (
        df
        .rename(
            columns = {'Occupation of reporter\r(where known)' : 'Occupation of reporter (where known)'}
        )
    )
    df_rename.to_csv(f'{save_dir}/{os.path.basename(file).replace(".pdf",".csv")}')

  0%|          | 0/12 [00:00<?, ?it/s]

## Getting town GPS coordinates